.venv
env/
.git/
.idea/
.vscode/
.github/
.docker/
.github/workflows/
.gitignore
.pre-commit-config.yaml
.flake8
.mypy.ini
.pylintrc
.pydocstyle
.bandit.yaml
.editorconfig

dataset/

Dockerfile
.dockerignore

__pycache__
*.pyc

client.py
s3_load_dataset.py
version.json